{% extends 'layout.html'%}
{% block content %}

<head> {{ resources|safe }} </head>
<div class="w3-container w3-amber w3-row">
    <div class="w3-third">
        <h2>{{title}}</h2>
    </div>
</div>

<div class="w3-container w3-center w3-pale-yellow w3-display-container">
    <span onclick="this.parentElement.style.display='none'" class="w3-button w3-display-topright">X</span>
    <h2>Use Google Chrome for best results</h2>
</div>
<div class="w3-panel"></div>
<div class="w3-container">
    <h5>Overview</h5>
    <p>The plots shown on this page were created using Bokeh. According to the <a target="_blank"
            href="https://bokeh.org/">Bokeh website</a>, Bokeh is an interactive visualization
        library for modern web browsers. It provides elegant, concise construction of versatile graphics, and affords
        high-performance interactivity over large or streaming datasets. Bokeh can help anyone who would like to quickly
        and
        easily make interactive plots, dashboards, and data applications.</p>
    <p>The code to create these plots is written in Python and viewable on Github <a target="_blank"
            href="https://github.com/TerraX3000/data_analytics_app/blob/master/main_app/datavisualizationsamples/datavizsamples.py">here.</a>
        Although the datasets in these examples is static, Bokeh is designed to support dynamic visualization using
        Python. In addition, Bokeh is compatible with the <a target="_blank"
            href="https://pandas.pydata.org/">Pandas</a> data analysis
        tool which is widely used by data scientists.
    </p>
    <p> Many of the plots below include a toolbar with tools to pan, zoom, select, and download an image of the plot.
        Bokeh supports many interactive features including sliders and dropdowns to use as data filters on dashboard
        visualizations.</p>
</div>
<div class="w3-row-padding">
    <div class="w3-col l4 w3-padding-16" id="gridplot"></div>
</div>
<script>
    (async () => {
        const response = await fetch('/gridplot');
        const item = await response.json();
        Bokeh.embed.embed_item(item, "gridplot");
    })();
</script>


{% endblock content %}