<!DOCTYPE html>
<html>
{% if title %}
<title>{{ webContent['layout']['app-browser-tab-title'] }} - {{ title }}</title>
{% else %}
<title>{{ webContent['layout']['app-browser-tab-title'] }}</title>
{% endif %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-metro.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
<link rel="stylesheet" href="{{ url_for('static', filename="main.css") }}">

<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "Raleway", sans-serif
    }
</style> -->

<!-- Macro to display flashed messaged -->
{% macro macro_display_flashed_messages() %}
<div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category=='success' %}
    <div class="w3-panel w3-padding-24 w3-display-container {{webContent['layout']['flash-success-color']}}">
        <span onclick="this.parentElement.style.display='none'"
            class="w3-button w3-display-left w3-margin-right w3-large">&times</span>
        <b class="w3-display-middle w3-padding-large">{{ message }}</b>
    </div>
    {% elif category=='error' %}
    <div class="w3-panel w3-padding-16 w3-display-container {{webContent['layout']['flash-error-color']}} ">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-display-topright">&times</span>
        <b>{{ message }}</b>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
{% endmacro %}

<body class="w3-light-grey">

    <!-- Top container -->
    <div class="w3-bar w3-top {{webContent['layout']['top-bar-color']}} w3-large" style="z-index:4">
        <button id="menuButton" class="w3-bar-item w3-button w3-hover-none w3-hover-text-light-grey"
            onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
        <span class="w3-bar-item w3-right">{{ webContent['layout']['app-nav-bar-title'] }}</span>
    </div>

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-white w3-animate-left" style="display:none;z-index:3;width:300px;" id="mySidebar"><br>
        <div class="w3-container w3-row">
            <div class="w3-col s4">

            </div>
            <div class="w3-col s8 w3-bar">
                {% if user %}
                <p>Welcome, <strong>{{ user.firstName }}</strong></p><br>
                {% else %}
                <span>Welcome</span><br>
                {% endif %}
            </div>
        </div>
        <hr>

        <div class="w3-bar-block">
            <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-dark-grey w3-hover-black" onclick="w3_close()"
                title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
            <a href="/" class="w3-bar-item w3-button w3-padding"><i class="fa fa-home fa-fw"></i> 
                Home</a>
            {% if webContent['telematics']['show/hide']=='show' %}
            <a href="/telematics" class="w3-bar-item w3-button w3-padding"><i class="fa fa-line-chart fa-fw"></i> 
                Telematics Analysis Demo <i class="fa fa-star fa-fw"></i></a>
            {% endif %}
            <a href="/datavisualizationsamples" class="w3-bar-item w3-button w3-padding"><i
                    class="fa fa-area-chart fa-fw"></i> 
                Data Visualization Samples</a>
            <a href="/datasetmanager" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cogs fa-fw"></i> 
                Dataset Manager</a>
            <a href="/datasetanalyzer" class="w3-bar-item w3-button w3-padding"><i class="fa fa-sliders fa-fw"></i> 
                Dataset Analyzer</a>
            <a href="/researchinfo" class="w3-bar-item w3-button w3-padding"><i class="fa fa-book fa-fw"></i> 
                Research Info</a>
            {% if webContent['portfolio']['url-prefix'] %}
            <a href="/portfolio" class="w3-bar-item w3-button w3-padding"><i class="fa fa-slideshare fa-fw"></i> 
                Personal Portfolio</a>
            {% endif %}
            {% if webContent['resume']['top-line'] %}
            <a href="/resume" class="w3-bar-item w3-button w3-padding"><i class="fa fa-address-book fa-fw"></i> 
                Resume</a>
            {% endif %}
        </div>
    </nav>


    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu"
        id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:0px;margin-top:43px;">

        <div class="w3-container {{webContent['layout']['title-bar-color']}} w3-row">
            <div class="w3-threequarter">
                <h2>{{title}}</h2>
            </div>
        </div>

        <div class="w3-col {{webContent['layout']['background-color']}}">
            {% block content %}{% endblock %}
        </div>

        <!-- Footer -->
        <footer class="w3-container w3-padding-32 {{webContent['layout']['background-color']}}">
            <!-- <h4></h4> -->
            <!-- <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p> -->
        </footer>

        <!-- End page content -->
    </div>

    <script>
        // Get the Sidebar
        var mySidebar = document.getElementById("mySidebar");

        // Get the DIV with overlay effect
        var overlayBg = document.getElementById("myOverlay");

        // Toggle between showing and hiding the sidebar, and add overlay effect
        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
                overlayBg.style.display = "none";
            } else {
                mySidebar.style.display = 'block';
                overlayBg.style.display = "block";
            }
        }

        // Close the sidebar with the close button
        function w3_close() {
            console.log('w3_close called');
            mySidebar.style.display = "none";
            overlayBg.style.display = "none";
        }
    </script>

</body>

</html>