{% extends 'layout.html'%}
{% block content %}

{{ macro_display_flashed_messages() }}

{# The following macros create html img elements based on the number of slides #}
{# Note: the naming convention for slides uses zero padding (e.g. "0011.jpg") #}

{% macro macro_addSlide(slideCount) %}
{% for number in range(1,slideCount+1) %}
<img class="mySlides" src="{{ webContent['portfolio']['url-prefix'] ~ '%04d' % (number) ~ ".jpg" }}"
    style=" width:100%">
{% endfor %}
{% endmacro %}

{% macro macro_addMiniSlide(slideCount) %}
{% for number in range(1,slideCount+1) %}
<div class="w3-col s1">
    <img class="demo w3-padding-16 w3-opacity w3-hover-opacity-off"
        src="{{ webContent['portfolio']['url-prefix'] ~ '%04d' % (number) ~ ".jpg" }}"
        style=" width:100%;cursor:pointer" onclick="currentDiv({{ number }})">
</div>
{% endfor %}
{% endmacro %}

<div class="w3-panel"></div>

{% if webContent['portfolio']['url-prefix'] %}
<div class="w3-content w3-display-container" style="max-width:800px">
    {{ macro_addSlide( webContent['portfolio']['slide-count']|int ) }}

    <a class="w3-button w3-display-left w3-text-white" onclick="plusDivs(-1)">&#10094;</a>
    <a class="w3-button w3-display-right w3-text-white" onclick="plusDivs(+1)">&#10095;</a>
</div>
<div class="w3-content w3-display-container" style="max-width:800px">

    <div class="w3-row-padding w3-section">
        {{ macro_addMiniSlide( webContent['portfolio']['slide-count']|int ) }}
    </div>
</div>


<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function currentDiv(n) {
        showDivs(slideIndex = n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
        }
        x[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " w3-opacity-off";
    }
</script>


{% endif %}

{% endblock content %}